{{#if (eq shoppingCart.totalPrice 0) }}
<h4 class='text-center'>Nothing in your cart!</h4>
<h4 class='text-center'>Keep Shopping.</h4>
{{else}}
<h4>total price:  {{shoppingCart.totalPrice}}</h4>
{{/if}}
<ul>
  {{#each shoppingCart.products as |product|}}
    <img src={{product.image}} alt={{product.name}} />
    <h3>{{product.name}} | {{product.company}}</h3>
  {{/each}}
</ul>
