{{#if session.isAuthenticated class='activeUser'}}
<div class="flex-logout">
  <p{{action "signOut"}}> Sign out</p>
</div>
<div class="product-grid">
    {{#each model as |product|}}
      <div class="product">
        <div class="product-img">
          <img src={{product.image}} alt="" />
        </div>
        <div class="product-content">
          {{#link-to 'shop.product' product.id}}<h3 class='product' {{action 'toggleModal'}}> {{product.name}} | ${{product.price}}</h3>{{/link-to}}
          {{rating-tile product=product}}
        </div>
      </div>
    {{/each}}
</div>
{{else}}
<div class="login-section">
  <div class="login-card">
    <h2>Please Log in to continue</h2>
    <a {{action "signIn" "twitter"}} class="btn social-login">{{fa-icon "twitter"}} Sign In with Twitter</a>
    <br>
    <a {{action "signIn" "google"}} class=" btn social-login">{{fa-icon "google"}} Sign In with Google</a>
  </div>
</div>
{{/if}}





{{outlet}}
